
/*
     FILE ARCHIVED ON 12:09:35 Aug 21, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:26:33 Jun 21, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 101.955
  exclusion.robots: 0.187
  exclusion.robots.policy: 0.169
  cdx.remote: 0.108
  esindex: 0.015
  LoadShardBlock: 47.042 (3)
  PetaboxLoader3.datanode: 68.671 (5)
  load_resource: 219.164 (2)
  PetaboxLoader3.resolve: 97.887 (2)
*/