/* --------------- CSS For IE 10 --------------- */

/* CSS for the Menu 2.0 */

.ie10 .uheader .newmenu-container .newmenu-contents div.primary.level img {
	margin-left: 137px;
}

.ie10 .uheader .newmenu-container .newmenu-contents div.middle.one.level .middle-content img {
	margin-left: 160px;
}

.ie10 .uheader .newmenu-container .newmenu-contents div.middle.two.level .middle-content img {
	margin-left: 140px;
}

.fullscreenmedia-comp-cont {overflow:hidden;}

/* END CSS for the Menu 2.0 */
/*
     FILE ARCHIVED ON 17:07:30 Dec 23, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:26:28 Jun 21, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 259.66
  exclusion.robots: 0.076
  exclusion.robots.policy: 0.066
  cdx.remote: 0.063
  esindex: 0.009
  LoadShardBlock: 228.709 (3)
  PetaboxLoader3.datanode: 99.09 (4)
  PetaboxLoader3.resolve: 214.942 (2)
  load_resource: 122.444
*/