#u88
{
	position: fixed;
}


/*
     FILE ARCHIVED ON 01:26:55 Dec 19, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:26:31 Jun 21, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 156.658
  exclusion.robots: 0.086
  exclusion.robots.policy: 0.075
  cdx.remote: 0.083
  esindex: 0.01
  LoadShardBlock: 118.13 (3)
  PetaboxLoader3.datanode: 70.022 (4)
  PetaboxLoader3.resolve: 238.798 (2)
  load_resource: 210.102
*/