#passwordContent {
}

#page_position_content
{
	margin: 0 0 0 -40px;
	width:960px;
}

#u1279
{
	z-index: 8;
	width: 798px;
	background: -webkit-gradient(linear, left center, right center, from(#004280),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#004280 ,#000000 100%);
	background: -moz-linear-gradient(left,#004280 ,#000000 100%);
	background: -ms-linear-gradient(left,#004280 ,#000000 100%);
	background: -o-linear-gradient(left,#004280 ,#000000 100%);
	background: linear-gradient(to right,#004280 ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF004280, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF004280', endColorstr='#FF000000', GradientType=1)";
	border-style: none;
	border-color: transparent;
	padding-top: 160px;
	padding-right: 162px;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 300px;
}

#u1247-3
{
	z-index: 37;
	width: 5px;
	margin-left: 145px;
	position: relative;
}

#grade
{
	margin-top: 87px;
	position: relative;
}

#u1234-8
{
	z-index: 11;
	width: 800px;
	min-height: 161px;
	
	font-weight: 400;
	margin-left: 56px;
	margin-top: 73px;
	position: relative;
	
}

#u1307
{
	z-index: 10;
	width: 960px;
	background: url("/web/20131219012904im_/https://www-ssl.intel.com/content/dam/www/public/us/en/apps/password-security-toolkit/images/u1307-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, color-stop(20%, rgba(0, 66, 128, 0.85)),to(#000000));
	background: -webkit-linear-gradient(left,rgba(0, 66, 128, 0.85) 20%,#000000 );
	background: -moz-linear-gradient(left,rgba(0, 66, 128, 0.85) 20%,#000000 );
	background: -ms-linear-gradient(left,rgba(0, 66, 128, 0.85) 20%,#000000 );
	background: -o-linear-gradient(left,rgba(0, 66, 128, 0.85) 20%,#000000 );
	background: linear-gradient(to right,rgba(0, 66, 128, 0.85) 20%,#000000 );
	border-style: none;
	border-color: transparent;
	padding-bottom: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 573px;
	left: 1060px;
	background:none;
}

#u1306-8
{
	z-index: 19;
	width: 800px;
	min-height: 161px;
	
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: -1004px;

}

#u1234-2,#u1306-2
{
	font-size: 24px;
	color: #FCEE21;

}
#u1234-2, #u1234-6, #u1306-2, #u1306-6 { display:none; }

#u1234-6,#u1306-6
{
	font-size: 41px;
	color: #FFFFFF;
	line-height: 49px;
}

#u1234-4,#u1306-4
{
	color: #FCEE21;
}

#u1242
{
	z-index: 10;
	width: 960px;
	background: -webkit-gradient(linear, left center, right center, from(#34C8FF),color-stop(100%, #0071C5));
	background: -webkit-linear-gradient(left,#34C8FF ,#0071C5 100%);
	background: -moz-linear-gradient(left,#34C8FF ,#0071C5 100%);
	background: -ms-linear-gradient(left,#34C8FF ,#0071C5 100%);
	background: -o-linear-gradient(left,#34C8FF ,#0071C5 100%);
	background: linear-gradient(to right,#34C8FF ,#0071C5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF34C8FF, endColorstr=#FF0071C5, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF34C8FF', endColorstr='#FF0071C5', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	overflow: visible;
}

#u1250
{
	z-index: 40;
	width: 247px;
	margin-bottom: -72px;
	position: relative;
	margin-right: -10000px;
	margin-top: 141px;
	left: 111px;
	overflow: visible;
}

#u1250 img
{
	z-index: 999;
	overflow: visible;
}
#u1252
{
	z-index: 42;
	width: 547px;
	border-width: 1px;
	border-style: solid;
	border-color: #C1EEFF;
	background-color: #E7EAEF;
	padding-bottom: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 257px;
	left: 338px;
}

#u1253-4
{
	z-index: 43;
	width: 219px;
	min-height: 73px;
	color: #7C8085;
	font-size: 12px;
	
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 109px;
	left: 31px;
}

#widgetu1254
{
	z-index: 47;
	width: 0.01px;
	height: 265px;
	position: relative;
	margin-right: -10000px;
	margin-top: 251px;
	left: 368px;
}

#widgetu1262
{
	z-index: 48;
	width: 487px;
	height: 84px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu1262.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1265-4
{
	z-index: 49;
	width: 340px;
	min-height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #004280;
	font-size: 24px;
	text-align: left;
	
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu1262:hover #u1265-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1262.focus-st #u1265-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1262.fld-err-st #u1265-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1262.fld-err-st #u1265-4 p,#widgetu1262.fld-err-st #u1265-4 span
{
	color: #D7244C;
}

#u1266-4
{
	z-index: 53;
	width: 475px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	line-height: 1;
	color: #A2A5A9;
	font-size: 16px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: -1px;
	padding: 18px 6px 6px;
}

#widgetu1262.non-empty-st #u1266-4
{
	background-color: #FFFFFF;
}

#widgetu1262:hover #u1266-4
{
	border-color: #6B6B6B;
	padding-top: 18px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 475px;
	margin: 36px -10000px -1px 0px;
}

#widgetu1262.focus-st #u1266-4
{
	border-color: #6B6B6B;
	padding-top: 18px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 475px;
	margin: 36px -10000px -1px 0px;
}

#widgetu1262.fld-err-st #u1266-4
{
	border-color: #D7244C;
	padding-top: 18px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 475px;
	margin: 36px -10000px -1px 0px;
}

#widgetu1262.non-empty-st #u1266-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1262:hover #u1266-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1262.focus-st #u1266-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1262.focus-st #widgetu1262_prompt
{
	padding-top: 18px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu1271
{
	z-index: 57;
	width: 487px;
	height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
}

#widgetu1271.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 102px -10000px 0px 0px;
}

#u1273-4
{
	z-index: 58;
	width: 475px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	line-height: 1;
	color: #A2A5A9;
	font-size: 16px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	padding: 18px 6px 6px;
}

#widgetu1271.non-empty-st #u1273-4
{
	background-color: #FFFFFF;
}

#widgetu1271:hover #u1273-4
{
	border-color: #6B6B6B;
	padding-top: 18px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 475px;
	margin: -1px -10000px -1px 0px;
}

#widgetu1271.focus-st #u1273-4
{
	border-color: #6B6B6B;
	padding-top: 18px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 475px;
	margin: -1px -10000px -1px 0px;
}

#widgetu1271.fld-err-st #u1273-4
{
	border-color: #D7244C;
	padding-top: 18px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 475px;
	margin: -1px -10000px -1px 0px;
}

#widgetu1271.non-empty-st #u1273-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1271:hover #u1273-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1271.focus-st #u1273-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1262.fld-err-st #u1266-4 *,#widgetu1271.fld-err-st #u1273-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu1262_input,#widgetu1262_prompt,#widgetu1271_input,#widgetu1271_prompt
{
	width: 475px;
	min-height: 24px;
	color: #A2A5A9;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-size: 16px;
	font-style: italic;
	padding: 18px 6px 6px;
}

#widgetu1262:hover #widgetu1262_input,#widgetu1262.focus-st #widgetu1262_input,#widgetu1262.fld-err-st #widgetu1262_input,#widgetu1262:hover #widgetu1262_prompt,#widgetu1262.fld-err-st #widgetu1262_prompt,#widgetu1271:hover #widgetu1271_input,#widgetu1271.focus-st #widgetu1271_input,#widgetu1271.fld-err-st #widgetu1271_input,#widgetu1271:hover #widgetu1271_prompt,#widgetu1271.focus-st #widgetu1271_prompt,#widgetu1271.fld-err-st #widgetu1271_prompt
{
	padding-top: 18px;
	padding-bottom: 6px;
}

#widgetu1262.non-empty-st #widgetu1262_prompt,#widgetu1271.non-empty-st #widgetu1271_prompt
{
	visibility: hidden;
}

#u1269-4
{
	z-index: 62;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 241px;
	left: 248px;
}

#widgetu1254.frm-sub-st #u1269-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1270-4
{
	z-index: 66;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 241px;
	left: 248px;
}

#widgetu1254.frm-subm-err-st #u1270-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1267-4
{
	z-index: 70;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 1;
	color: #00FF00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 241px;
	left: 248px;
}

#widgetu1254.frm-sub-st #u1269-4,#widgetu1254.frm-subm-err-st #u1270-4,#widgetu1254.frm-subm-ok-st #u1267-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu1254.frm-subm-ok-st #u1267-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1268-17
{
	z-index: 74;
	min-height: 67px;
	width: 229px;
	background: url("/web/20131219012904im_/https://www-ssl.intel.com/content/dam/www/public/us/en/apps/password-security-toolkit/images/u1268-17.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	left: 260px;
	cursor: pointer;
}

#u1268-17:hover
{
	background: url("/web/20131219012904im_/https://www-ssl.intel.com/content/dam/www/public/us/en/apps/password-security-toolkit/images/u1268-17-r.png") no-repeat 0px 0px;
}

#u1268-17:active
{
	background: url("/web/20131219012904im_/https://www-ssl.intel.com/content/dam/www/public/us/en/apps/password-security-toolkit/images/u1268-17-m.png") no-repeat 0px 0px;
}

#widgetu1254.frm-sub-st #u1268-17
{
	background: url("/web/20131219012904im_/https://www-ssl.intel.com/content/dam/www/public/us/en/apps/password-security-toolkit/images/u1268-17-fs.png") no-repeat 0px 0px;
}

#u1276
{
	z-index: 91;
	width: 230px;
	height: 65px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 423px;
	left: 627px;
}

#u1276.MuseLinkActive
{
	margin: 452px -10000px 0px 0px;
}

#u1662-6
{
	z-index: 50;
	width: 660px;
	min-height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 809px;
	left: 60px;
}

#u1662-2
{
	font-size: 12px;
	width: 800px;
}

#u1693
{
	z-index: 40;
	width: 960px;
	position: relative;
	margin-right: -10000px;
}

#u1167-5
{
	z-index: 31;
	width: 556px;
	min-height: 65px;
	line-height: 1;
	text-align: left;
	
	font-weight: 400;
	margin-left: 60px;
	margin-top: 49px;
	position: relative;
}

#u1167-2
{
	font-size: 41px;
	color: #004280;
}

#u1167-3
{
	font-size: 24px;
	color: #00AEEF;
}

#pu1569
{
	width: 0.01px;
	margin-left: 56px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u1569
{
	z-index: 2;
	width: 380px;
	position: relative;
	margin-right: -10000px;
	left: 495px;
}

#u1200-4
{
	z-index: 27;
	width: 522px;
	min-height: 78px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#u1200
{
	color: #00AEEF;
	line-height: 1.2em;
}

#u1544-19
{
	z-index: 140;
	width: 428px;
	min-height: 244px;
	color: #7C8085;
	font-size: 14px;
	
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 15px;
}

#u1545-6
{
	z-index: 185;
	width: 619px;
	min-height: 74px;
	position: relative;
	margin-right: -10000px;
	margin-top: 373px;
	left: 14px;
}

#pu1370
{
	width: 0.01px;
	margin-top: 45px;
	position: relative;
}

#u1370
{
	z-index: 92;
	width: 963px;
	position: relative;
	margin-right: -10000px;
}

#u1503-4
{
	z-index: 167;
	width: 467px;
	min-height: 49px;
	color: #004280;
	font-size: 18px;
	
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 31px;
}

#u1575-4
{
	z-index: 191;
	width: 805px;
	min-height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 95px;
	left: 70px;
}

#pppu1605
{
	width: 0.01px;
	margin-left: 42px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#ppu1605
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 383px;
}

#pu1279,#pu1605
{
	width: 0.01px;
	position: relative;
}

#u1605
{
	z-index: 201;
	width: 78px;
	position: relative;
	margin-right: -10000px;
}

#u1605_img
{
	margin-left: -127px;
	margin-right: -119px;
}

#u1616
{
	z-index: 203;
	width: 78px;
	position: relative;
	margin-right: -10000px;
	left: 95px;
}

#u1616_img
{
	margin-left: -259px;
	margin-right: 13px;
}

#u1527-4
{
	z-index: 179;
	width: 287px;
	min-height: 51px;
	font-size: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 190px;
}

#pu1530-4
{
	width: 0.01px;
	margin-left: 19px;
	margin-top: 6px;
	position: relative;
}

#u1530-4
{
	z-index: 159;
	width: 230px;
	min-height: 153px;
	color: #7C8085;
	font-size: 14px;
	
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1576-4
{
	z-index: 163;
	width: 230px;
	min-height: 153px;
	color: #7C8085;
	font-size: 14px;
	
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 260px;
}

#u1528-4
{
	z-index: 126;
	width: 268px;
	min-height: 144px;
	color: #7C8085;
	font-size: 14px;
	
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 28px;
}

#u1526-4
{
	z-index: 175;
	width: 287px;
	min-height: 51px;
	font-size: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 85px;
}

#u1592
{
	z-index: 199;
	width: 78px;
	position: relative;
	margin-right: -10000px;
}

#u1605_clip,#u1616_clip,#u1592_clip
{
	overflow: hidden;
	width: 78px;
	height: 104px;
}

#u1592_img
{
	margin-right: -246px;
}

#u1664
{
	z-index: 229;
	width: 4px;
	height: 213px;
	border-style: none;
	border-color: transparent;
	background-color: #34C8FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 351px;
}

#pu1577
{
	width: 0.01px;
	margin-top: 3px;
	position: relative;
}

#u1577
{
	z-index: 6;
	width: 963px;
	position: relative;
	margin-right: -10000px;
}

#u1636-4
{
	z-index: 118;
	width: 835px;
	min-height: 35px;
	color: #004280;
	font-size: 18px;
	
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 31px;
}

#u1661-4
{
	z-index: 195;
	width: 805px;
	min-height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 92px;
	left: 70px;
}

#pu1654-10
{
	width: 0.01px;
	margin-left: 70px;
	margin-top: 9px;
	position: relative;
}

#u1654-10
{
	z-index: 130;
	width: 200px;
	min-height: 137px;
	position: relative;
	margin-right: -10000px;
}

#u1665
{
	z-index: 230;
	width: 4px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	background-color: #34C8FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 259px;
}

#u1657-10
{
	z-index: 205;
	width: 221px;
	min-height: 133px;
	position: relative;
	margin-right: -10000px;
	left: 308px;
}

#u1666
{
	z-index: 231;
	width: 4px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	background-color: #34C8FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 561px;
}

#u1658-8
{
	z-index: 215;
	width: 245px;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#u1654-4,#u1657-2,#u1658-2
{
	color: #004280;
}

#u1654-6,#u1654-8,#u1657-4,#u1657-6,#u1657-8,#u1658-4,#u1658-6
{
	font-size: 14px;
	color: #7C8085;
	
	font-weight: 400;
}

#pu1393
{
	width: 0.01px;
	margin-top: 0px;
	position: relative;
}

#u1393
{
	z-index: 4;
	width: 963px;
	position: relative;
	margin-right: -10000px;
}

#u1166-4
{
	z-index: 114;
	width: 476px;
	min-height: 35px;
	color: #004280;
	font-size: 18px;
	
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 31px;
}

#u1505-4
{
	z-index: 20;
	width: 331px;
	min-height: 113px;
	color: #7C8085;
	font-size: 14px;
	
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 574px;
}
#u1505-4 p { margin-bottom:1em; }
#u1506-4 img {width:100px; margin-left:10px; float:left;}
#u1506-4 p { float:right; width:175px; font-size:15px;}
#u1506-4
{
	z-index: 4;
	width: 300px;
	min-height: 124px;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 56px;
}


#u1513
{
	z-index: 9;
	width: 243px;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 399px;
}

#pamphletu1202
{
	z-index: 232;
	width: 0.01px;
	height: 54px;
	padding-bottom: 5px;
	margin-left: 720px;
	/* OLD HEIGHT margin-top: 350px; */
	margin-top: 0px;
	position: relative;
}

#u1221
{
	z-index: 233;
	width: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 18px;
}

#u1222
{
	position: absolute;
	width: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #999999;
	padding-bottom: 5px;
	top: -13px;
	left: -18px;
}

#u1222:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #999999;
	background-color: rgba(153, 153, 153, 1);
	width: 68px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(153, 153, 153, 1);
}

#u1223-6
{
	z-index: 235;
	width: 42px;
	min-height: 41px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 17px;
}

#u1222:hover #u1223-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	margin: 12px -10000px 0px 0px;
}

#u1222:active #u1223-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	margin: 12px -10000px 0px 0px;
}

#u1222.PamphletThumbSelected #u1223-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	margin: 12px -10000px 0px 0px;
}

#u1222.PamphletThumbSelected #u1223-6 p
{
	color: #FFFFFF;
	visibility: inherit;
	
	font-weight: 400;
	font-style: italic;
}

#u1203
{
	position: absolute;
	width: 752px;
	border-style: none;
	border-color: transparent;
	background-color: #595959;
	background-color: rgba(0, 0, 0, 0.65);
	padding-bottom: 44px;
	top: -333px;
	left: 233px;
	-pie-background: rgba(0, 0, 0, 0.65);
}

#u1203popup
{
	z-index: 241;
}

#u1204
{
	z-index: 242;
	width: 708px;
	height: 476px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1206
{
	z-index: 243;
	width: 620px;
	height: 465px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 46px;
}

.ie #u1206
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1207
{
	z-index: 244;
	width: 692px;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 10px;
}

#u1207_img
{
	padding-bottom: 8px;
}

#u1205
{
	z-index: 246;
	width: 66px;
	height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 368px;
	left: 514px;
}

#u1692
{
	z-index: 247;
	width: 87px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 154px;
	left: 24px;
}

#u1689
{
	z-index: 248;
	width: 96px;
	margin-bottom: -43px;
	position: relative;
	margin-right: -10000px;
	left: -2px;
}

#u1688-8
{
	z-index: 250;
	width: 553px;
	min-height: 45px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
	left: 116px;
}

#u1688-2
{
	font-size: 11px;
	padding-left: 3px;
	font-weight: bold;
}

#u1688-4
{
	font-size: 9px;
	padding-left: 3px;
	padding-bottom: 5px;
	color: #7C8085;
	font-weight: bold;
}

#u1688-6
{
	font-size: 11px;
	padding-left: 3px;
}

#u1209
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -295px;
	left: 922px;
}

#u1209:hover
{
	background-color: #999999;
	margin: 0px;
}

#u1209:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u1210-4
{
	z-index: 259;
	width: 20px;
	min-height: 20px;
	line-height: 1.4;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu1417
{
	width: 0.01px;
	top: -373px;
	margin-bottom: -373px;
	position: relative;
height: 620px;
display: block;
}

#u1417
{
	z-index: 94;
	width: 963px;
	position: relative;
	margin-right: -10000px;
}

#u1280
{
	z-index: 96;
	width: 341px;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	margin-bottom: 150px;
	left: 58px;
}

#u1297-4
{
	z-index: 98;
	width: 485px;
	min-height: 204px;
	line-height: 1.28;
	color: #00AEEF;
	font-size: 36px;
	
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
	left: 420px;
}

#u1440
{
	z-index: 102;
	width: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 270px;
	left: 425px;
}

#u1440 div
{
	float: left;
	padding-right: 10px;
}

#u1445
{
	z-index: 104;
	width: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 312px;
	left: 470px;
}

#u1450
{
	z-index: 106;
	width: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 306px;
	left: 516px;
}

#u1450_clip
{
	overflow: hidden;
	width: 23px;
	height: 31px;
}

#u1450_img
{
	margin-top: -124px;
	margin-bottom: -580px;
}

#u1471
{
	z-index: 108;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 306px;
	left: 561px;
}

#u1471_img
{
	margin-top: -264px;
	margin-right: 3px;
	margin-bottom: -440px;
}

#u1477
{
	z-index: 110;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 306px;
	left: 610px;
}

#u1477_img
{
	margin: -212px 4px -492px -1px;
}

#u1480
{
	z-index: 112;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 306px;
	left: 658px;
}

#u1471_clip,#u1477_clip,#u1480_clip
{
	overflow: hidden;
	width: 26px;
	min-height: 31px;
}

#u1480_img
{
	margin-top: -352px;
	margin-right: 3px;
	margin-bottom: -352px;
}

#u88
{
	z-index: 265;
	width: 1401px;
	bottom: 0px;
	left: 50%;
	margin-left: -701px;
}
#page .verticalspacer
{
	clear: both;
}

#lower-results-section {
	display: none;
	position:relative;
	top:0px;
	z-index:1;
	background:white;
	min-height:500px;
	clear:both;
}
#scrollSpacer{
	min-height:500px;
}
.social-share-buttons {
width:500px; z-index:10000;height:290px;position:absolute; top:35px; overflow:hidden;
}

/* PHASE 2 UPDATES */
	#container {
	width: 960px;
	text-align: left;
	line-height:normal;
	}
	
	#blade-password-anatomy {
	font-size: 34px;
	line-height:180%;
	color: #fff;
	width: 910px;
	height: 575px;
	background: #7cc2fd url('/web/20131219012904im_/https://www-ssl.intel.com/content/dam/www/public/us/en/apps/password-security-toolkit/images/web-anatomy-of-a-password.png') no-repeat center bottom; 
	padding-top:20px;
	padding-left:50px;
	}
	
	#blade-multiple-passwords {
	font-size: 18px;
	color: #fff;
	width: 870px;
	height: 470px;
	background: #7cc2fd url('/web/20131219012904im_/https://www-ssl.intel.com/content/dam/www/public/us/en/apps/password-security-toolkit/images/web-1-for-the-money.png') no-repeat center; 
	padding-left:45px;
	padding-right:45px;
	line-height:normal;
	}
	
	#multiple-pswd-text-left {
	width: 200px;
	font-size:32px;
	margin-top:195px;
	float:left;
	line-height:normal;
	}
	
	#multiple-pswd-text-right {
	width: 215px;
	margin-top: 195px;
	color: #157bb9;
	float:right;
	line-height:normal;
	}
	
	#blade-moustaches {
	font-size: 34px;
	color: #fff;
	width: 910px;
	height: 305px;
	background-color: #117ec3; 
	padding-top:15px;
	padding-left:50px;
	padding-bottom: 15px;
	line-height:normal;
	}
	
	#blade-congrats {
	font-size: 36px;
	color: #04407e;
	text-align: center;
	width: 960px;
	height: 110px;
	background-color: #7cc2fd;
	line-height:normal;
	}
	#blade-congrats p {
	font-size: 36px !important;
	color: #04407e;
	text-align: center;
	padding-top: 42px;
	line-height:normal;
	}
	
	#blade-contest {
	font-size: 42px;
	color: #fff;
	width: 910px;
	background-color: #FFF; 
	padding-top:30px;
	padding-left:50px;
	padding-bottom: 15px;
	line-height:normal;
	position: relative;
	color:black;
	}
	#keep-mine-image {
		position:absolute;
		top:30px;
		left:50px;
	}
	#blade-contest-content {
	width: 520px;
	margin-top: 20px;
	margin-right:50px;
	text-align: right;
	float:right;
	line-height:normal;
	margin-bottom: 40px;
	position: absolute;
	top: 20px;
	right: 0px;
	}

	.dark-blue {
	color: #1d447f;
	}
	
	.moustache-text {
	font-size:22px;
	float:left;
	margin-left:25px;
	margin-right:35px;
	line-height:normal;
	}
		
	.legalese {
width: 495px;
float: right;
color: white !important;
margin-top: 
	}
	
	a.legalese-link:link, a.legalese-link:visited {color:#fff;text-decoration:underline;} 
	.congrats-text {
		padding-top:30px;
	}
	.moustache-header {
		margin-top:30px;
		margin-bottom:30px;
	}
.right-share-text {
	position: relative;
	overflow: visible;
}
.share-button {
	float: right;
	font-size: 18px;
	margin-left: 20px;
	text-transform: uppercase;
	padding: 15px;
	background: #117ec3;
	position:relative;
	top:-15px;
}

#enter-to-win-section {
background: #00aeef; /* Old browsers */
background: -moz-linear-gradient(left,  #00aeef 1%, #004280 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(1%,#00aeef), color-stop(100%,#004280)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #00aeef 1%,#004280 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #00aeef 1%,#004280 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #00aeef 1%,#004280 100%); /* IE10+ */
background: linear-gradient(to right,  #00aeef 1%,#004280 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aeef', endColorstr='#004280',GradientType=1 ); /* IE6-9 */

padding:30px;
text-align:right;
}

#enter-to-win-button {
	float: right;
	color: #04407e;
	font-size: 18px;
	margin-left: 20px;
	text-transform: uppercase;
	padding: 15px;
	background: #fff;
	position:relative;
	font-weight: bold;
	display: none;
}

#share-buttons {
	width:150px;
	position: absolute;
	right: 78px;
	top: 88px;
	cursor: pointer;

}

.clear {
	clear:both;
}
#share-buttons a:visited {
	color:white;
}

#tweet-btn {
	float: right;
	margin-left:20px;
	position: relative;
	top:-1px;
}
#content {
	padding-bottom: 0px;
}
a#enter-to-win-button, #enter-to-win-button {
	text-decoration: none;

}
.rules-below-button {
	position: relative;
	width: 240px;
	top: 189px;
	left: 259px;
	color: #1d447f;
}
.rules-below-button a {color: #1d447f;}

.enter-to-win-banner {position: relative; right: -25px;}
.pledge-circle{ position:relative; left: -35px;}
.share-pledge {font-size: 30px; position: relative; top: 10px; }
.drawing-info {font-size: 20px; color: #157bb9; margin-left: 135px; margin-top: 82px;}
.drawing-rules { font-size:14px; color: #157bb9; margin-left: 105px; margin-top: 15px; }
.drawing-rules a { color: #157bb9;}
.disclaimer-bold { font-size:20px; margin-bottom:10px;}

#winner-blade{ 
	background: url(/web/20131219012904im_/https://www-ssl.intel.com/content/dam/www/public/us/en/apps/password-security-toolkit/images/grey-horiz-top.png) repeat-x; 0px 0px; 
	position: relative;
	width: 100%;
	padding-bottom: 40px;
}
#winners {margin-top: 193px;}
#winners h2 { 
	font-size: 1.7em;
	font-weight: 400;
	color: #157bb9;
	text-align: center;
	margin-bottom: 15px; 
}
#winners .winner-table {width: 800px; margin-left: auto; margin-right: auto; text-align: center; margin-bottom: 40px; font-size: 1.1em; line-height: 1.2em;}
#winners .largewinnertable {font-size: 1.3em;}
#winner-flag { position: absolute; top: 60px;left: 0;}
#winner-congratulations {
	text-align: right;
	font-size: 1.8em;
	position: relative;
	top: 96px;
	right: 60px;
}

.center {
	text-align: center;
}
/*
     FILE ARCHIVED ON 01:29:04 Dec 19, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:26:36 Jun 21, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 141.767
  exclusion.robots: 0.147
  exclusion.robots.policy: 0.131
  cdx.remote: 0.103
  esindex: 0.021
  LoadShardBlock: 100.062 (3)
  PetaboxLoader3.datanode: 68.05 (4)
  PetaboxLoader3.resolve: 152.608 (2)
  load_resource: 136.792
*/